<section class="section featured-projects">
  <div class="section__title">Featured Projects</div>
  <div class="section__content">
    <div class="project buddy">
      <figure class="project__pic">
        <a href="https://buddy.dnachavez.ph/" target="_blank">
          <img src="{{site.baseurl}}/img/featured/buddy/buddy.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://buddy.dnachavez.ph/" target="_blank">Buddy</a>
        </div>
        <p>A conversational interface assistant for the University of Southern Philippines Foundation
          using a command-based model and leveraging OpenAI's GPT-3.5 and DALL-E 2 models built with PHP.</p>
      </figcaption>
    </div>
  </div>
</section>
